[Unit]
Description=Start remote Tailscale on 192.168.10.12
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start_remote_tailscale.sh
User=szabi
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
